body{
    color: white;
    background: url("https://pixabay.com/pt/videos/c%C3%B3digo-fonte-desenvolvimento-c%C3%B3digo-4733/");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;

}

a{ 
    text-decoration: none;
}


img{
    width: 12.0rem;
    margin: 1.6rem;
    animation-name: girar;
    animation-duration: 2s infinite;
    
}

@keyframes girar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.razoesReact h1{
    background-color: aqua;
    margin-top: 5.0rem;
    margin-bottom: 3.0rem;
    text-align: left;
    color: rgb(0, 0, 0);
}

.razoesReact p{
    text-align: justify;
}


