body{
    color: white;
    background-color: black;
 

}
.container{
    text-align: center;
    max-width: 50.0rem;
    margin: 0 auto;
    margin-top: 5.0rem;
}
img{
    width: 12.0rem;
    margin: 1.6rem;
    animation-name: girar;
    animation-duration: infinite;
   
    
}

@keyframes girar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}