
h1{
    text-align: center;
    padding: 2.4rem;
    font-size: 4.0rem;
}
form{
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 3.2rem;
}
.srOnly{
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    overflow: hidden;
    color: transparent;
}

form input{
    border: none;
    border-radius: .4rem;
    font-size: 2.0rem;
    padding: .8rem 1.2rem;
    width: 100%;


    background-color: rgba(128, 128, 128, 0.315);
    color: white;

}

.searchIcon{
    color: rgba(255, 255, 255, 0.329);
    font-size: 2.4rem;
    position: relative;
    left: -3.2rem;
}

.search-button{
    border: none;
    border-radius: .4rem;
    font-size: 2.0rem;
    padding: .8rem 1.2rem;

    background-color: #106cc4;
    color: white;
}


.search-button:hover{
    cursor: pointer;

}

main{
    padding: 1.6rem 3.2rem;

}

.blockCityName{
    text-align: left;
}

.blockCurrentTime{
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    background-color: rgba(128, 128, 128, 0.3);
    padding: .8rem;
    border-radius: 1.6rem;
}

.blockDegree{
    display: flex;
    align-items: center;
    justify-content: center;
}

.degreeCurrent{
    
}

