body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    padding: 2.4rem;
    font-size: 4.0rem;
}
form{
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 3.2rem;
}
.srOnly{
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    overflow: hidden;
    color: transparent;
}

form input{
    border: none;
    border-radius: .4rem;
    font-size: 2.0rem;
    padding: .8rem 1.2rem;
    width: 100%;


    background-color: rgba(128, 128, 128, 0.315);
    color: white;

}

.search-button{
    border: none;
    border-radius: .4rem;
    font-size: 2.0rem;
    padding: .8rem 1.2rem;

    background-color: #106cc4;
    color: white;
}


.search-button:hover{
    cursor: pointer;
    
}