h1{
  text-align: center;
  margin-top: 50px;
}

body{
  background-color: black;
  color: white;
  text-align: center;
}
button{
  margin-top: 24px;
  padding: 6px;
  border: white solid 2px;
  background-color: black;
  color: white;

  /* font-size: 20px; */
  border-radius: 10px;
}
input{
  height: 30px;
}
form{
  margin-top: 200px;
}

.nameApi{
  margin-top: 50px;
}

.imageApi{
  width: 150px;
  margin-top: 25px;
}