.weatherCondition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin: 1.6rem;
    width: 9.2rem;
    height: 9.2rem;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.226);
}

.weatherCondition p{
    font-weight: 500;
}

.weatherCondition h4{
    font-weight: 400;
    font-size: 1.6rem;
}