
.faixaTop  {
    
    
    font-weight: 700;
   
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .faixaTop p{
    color: black;
  }
  .active{
    color: red;
  }

